.annotate{
	position: absolute;
	background-color: blue;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.annotate:hover,.annotate:focus{
	background-color: green;
	z-index:100;
}

.annotate.highlight{
	background-color: yellow;
	z-index: 100;
}
.annotate.highlight:hover,.annotate.highlight:focus{
	background-color: yellow;
	z-index: 100;
}
